:root {
  --vz-vertical-menu-bg: #fff;
  --vz-vertical-menu-item-color: #6d7080;
  --vz-vertical-menu-item-hover-color: #003e9b;
  --vz-vertical-menu-item-active-color: #003e9b;
  --vz-vertical-menu-sub-item-color: #7c7f90;
  --vz-vertical-menu-sub-item-hover-color: #003e9b;
  --vz-vertical-menu-sub-item-active-color: #003e9b;
  --vz-vertical-menu-title-color: #919da9;
  --vz-vertical-menu-bg-dark: #003e9b;
  --vz-vertical-menu-item-color-dark: #abb9e8;
  --vz-vertical-menu-item-hover-color-dark: #fff;
  --vz-vertical-menu-item-active-color-dark: #fff;
  --vz-vertical-menu-sub-item-color-dark: #abb9e8;
  --vz-vertical-menu-sub-item-hover-color-dark: #fff;
  --vz-vertical-menu-sub-item-active-color-dark: #fff;
  --vz-vertical-menu-title-color-dark: #838fb9;
  --vz-header-bg: #fff;
  --vz-header-item-color: #e9ecef;
  --vz-header-bg-dark: #003e9b;
  --vz-header-item-color-dark: #b0c4d9;
  --vz-topbar-search-bg: #f3f3f9;
  --vz-topbar-user-bg: #f3f3f9;
  --vz-topbar-user-bg-dark: #52639c;
  --vz-footer-bg: #fff;
  --vz-footer-color: #98a6ad;
  --vz-topnav-bg: #fff;
  --vz-topnav-item-color: #6d7080;
  --vz-topnav-item-color-active: #003e9b;
  --vz-twocolumn-menu-iconview-bg: #fff;
  --vz-twocolumn-menu-bg: #fff;
  --vz-twocolumn-menu-iconview-bg-dark: var(--vz-vertical-menu-bg-dark);
  --vz-twocolumn-menu-bg-dark: #435590;
  --vz-twocolumn-menu-item-color-dark: var(--vz-vertical-menu-item-color-dark);
  --vz-twocolumn-menu-item-active-color-dark: #fff;
  --vz-twocolumn-menu-item-active-bg-dark: rgba(255, 255, 255, 0.15);
  --vz-boxed-body-bg: #e5e5f2;
  --vz-heading-color: #495057;
  --vz-link-color: #003e9b;
  --vz-link-hover-color: #003e9b;
  --vz-border-color: #e9ebec;
  --vz-card-bg-custom: #fff;
  --vz-card-logo-dark: block;
  --vz-card-logo-light: none;
  --vz-list-group-hover-bg: #f3f6f9;
  --vz-input-bg: #fff;
  --vz-input-border: #ced4da;
  --vz-input-focus-border: #a0a8c4;
  --vz-input-disabled-bg: #eff2f7;
  --vz-input-group-addon-bg: #eff2f7;
  --vz-input-check-border: var(--vz-input-border);
}
:root .nav-tabs {
  --vz-nav-tabs-link-active-bg: #f3f3f9;
}
:root .choices, :root .flatpickr-calendar, :root .ck, :root .ql-toolbar, :root .select2-container, :root .menu-dropdown {
  --vz-choices-bg: #fff;
  --vz-choices-link-color: #212529;
  --vz-choices-link-hover-bg: #f3f6f9;
  --vz-choices-link-active-color: #1e2125;
}

[data-layout-mode=dark] {
  --vz-gray-100: #1a1d21;
  --vz-gray-200: #212529;
  --vz-gray-300: #2a2f34;
  --vz-gray-400: #878a99;
  --vz-gray-500: #adb5bd;
  --vz-gray-600: #bfc8e2;
  --vz-gray-700: #ced4da;
  --vz-gray-800: #eff2f7;
  --vz-gray-900: #f3f6f9;
  --vz-body-bg: #1a1d21;
  --vz-body-bg-rgb: 26, 29, 33;
  --vz-body-color: #ced4da;
  --vz-body-color-rgb: 206, 212, 218;
  --vz-vertical-menu-bg: #fff;
  --vz-vertical-menu-item-color: #5f6270;
  --vz-vertical-menu-item-hover-color: #003e9b;
  --vz-vertical-menu-item-active-color: #003e9b;
  --vz-vertical-menu-sub-item-color: #686b7b;
  --vz-vertical-menu-sub-item-hover-color: #003e9b;
  --vz-vertical-menu-sub-item-active-color: #003e9b;
  --vz-vertical-menu-title-color: #878a99;
  --vz-vertical-menu-bg-dark: #212529;
  --vz-vertical-menu-item-color-dark: #878a99;
  --vz-vertical-menu-item-hover-color-dark: #fff;
  --vz-vertical-menu-item-active-color-dark: #fff;
  --vz-vertical-menu-sub-item-color-dark: #7c7f90;
  --vz-vertical-menu-sub-item-hover-color-dark: #fff;
  --vz-vertical-menu-sub-item-active-color-dark: #fff;
  --vz-vertical-menu-title-color-dark: #5f6270;
  --vz-header-bg: #292e32;
  --vz-header-item-color: #e9ecef;
  --vz-header-bg-dark: #003e9b;
  --vz-header-item-color-dark: #b0c4d9;
  --vz-topbar-search-bg: #202328;
  --vz-topbar-user-bg: #31373c;
  --vz-topbar-user-bg-dark: #52639c;
  --vz-footer-bg: #212529;
  --vz-footer-color: #878a99;
  --vz-topnav-bg: #272b30;
  --vz-topnav-item-color: #878a99;
  --vz-topnav-item-color-active: #fff;
  --vz-twocolumn-menu-iconview-bg: #fff;
  --vz-twocolumn-menu-bg: #fff;
  --vz-twocolumn-menu-iconview-bg-dark: var(--vz-vertical-menu-bg-dark);
  --vz-twocolumn-menu-bg-dark: #30363a;
  --vz-twocolumn-menu-item-color-dark: var(--vz-vertical-menu-item-color-dark);
  --vz-twocolumn-menu-item-active-color-dark: #fff;
  --vz-twocolumn-menu-item-active-bg-dark: rgba(255, 255, 255, 0.15);
  --vz-boxed-body-bg: #111316;
  --vz-heading-color: #ced4da;
  --vz-light: #2a2f34;
  --vz-light-rgb: 42, 47, 52;
  --vz-dark: #eff2f7;
  --vz-dark-rgb: 239, 242, 247;
  --vz-link-color: #ced4da;
  --vz-link-hover-color: #ced4da;
  --vz-border-color: #32383e;
  --vz-card-bg-custom: #212529;
  --vz-card-logo-dark: none;
  --vz-card-logo-light: block;
  --vz-list-group-hover-bg: #272b30;
  --vz-input-bg: #262a2f;
  --vz-input-border: #2a2f34;
  --vz-input-focus-border: #33393f;
  --vz-input-disabled-bg: #212529;
  --vz-input-group-addon-bg: #2a2f34;
  --vz-input-check-border: #33393f;
}
[data-layout-mode=dark] .dropdown-menu {
  --vz-dropdown-bg: #292e33;
  --vz-dropdown-link-color: #adb5bd;
  --vz-dropdown-link-hover-color: #b9bfc4;
  --vz-dropdown-link-hover-bg: #2f343a;
  --vz-dropdown-border-width: 1px;
  --vz-dropdown-link-active-color: #adb5bd;
  --vz-dropdown-link-active-bg: #2f343a;
}
[data-layout-mode=dark] .choices, [data-layout-mode=dark] .flatpickr-calendar, [data-layout-mode=dark] .ck, [data-layout-mode=dark] .ql-toolbar, [data-layout-mode=dark] .select2-container, [data-layout-mode=dark] .menu-dropdown {
  --vz-choices-bg: #292e33;
  --vz-choices-link-color: #adb5bd;
  --vz-choices-link-hover-bg: #2f343a;
  --vz-choices-link-active-color: #dbdde0;
}
[data-layout-mode=dark] .btn-light {
  --vz-btn-color: var(--vz-dark);
  --vz-btn-bg: var(--vz-light);
  --vz-btn-border-color: var(--vz-light);
}
[data-layout-mode=dark] .btn-outline-light {
  --vz-btn-color: var(--vz-dark);
  --vz-btn-bg: transparent;
  --vz-btn-border-color: var(--vz-light);
}
[data-layout-mode=dark] .btn-light, [data-layout-mode=dark] .btn-outline-light {
  --vz-btn-hover-color: var(--vz-dark);
  --vz-btn-hover-bg: rgba(var(--vz-light-rgb), 0.75);
  --vz-btn-hover-border-color: rgba(var(--vz-light-rgb), 0.75);
}
[data-layout-mode=dark] .btn-dark {
  --vz-btn-color: var(--vz-light);
  --vz-btn-bg: var(--vz-dark);
  --vz-btn-border-color: var(--vz-dark);
}
[data-layout-mode=dark] .btn-outline-dark {
  --vz-btn-color: var(--vz-dark);
  --vz-btn-bg: transparent;
  --vz-btn-border-color: var(--vz-dark);
}
[data-layout-mode=dark] .btn-dark, [data-layout-mode=dark] .btn-outline-dark {
  --vz-btn-hover-color: var(--vz-light);
  --vz-btn-hover-bg: rgba(var(--vz-dark-rgb), 0.75);
  --vz-btn-hover-border-color: rgba(var(--vz-dark-rgb), 0.75);
}
[data-layout-mode=dark] .card {
  --vz-card-bg: #212529;
  --vz-card-cap-bg: #212529;
}
[data-layout-mode=dark] .modal {
  --vz-modal-bg: #212529;
}
[data-layout-mode=dark] .nav-tabs {
  --vz-nav-tabs-link-active-color: #f3f6f9;
  --vz-nav-tabs-link-active-bg: #2a2f34;
}
[data-layout-mode=dark] .accordion {
  --vz-accordion-button-active-color: #fff;
  --vz-accordion-bg: #212529;
  --vz-accordion-btn-bg: #212529;
}
[data-layout-mode=dark] .offcanvas,
[data-layout-mode=dark] .offcanvas-lg,
[data-layout-mode=dark] .offcanvas-md,
[data-layout-mode=dark] .offcanvas-sm,
[data-layout-mode=dark] .offcanvas-xl,
[data-layout-mode=dark] .offcanvas-xxl {
  --vz-offcanvas-bg: #212529;
}
[data-layout-mode=dark] .progress {
  --vz-progress-bg: #2a2f34;
}
[data-layout-mode=dark] .table {
  --vz-table-striped-bg: rgba(255, 255, 255, 0.03);
  --vz-table-active-bg: rgba(255, 255, 255, 0.07);
  --vz-table-hover-bg: rgba(255, 255, 255, 0.07);
}
[data-layout-mode=dark] .table-light {
  --vz-table-color: #fff;
  --vz-table-bg: rgba(255, 255, 255, 0.05);
  --vz-table-border-color: var(--vz-border-color);
  --vz-table-striped-bg: rgba(255, 255, 255, 0.07);
  --vz-table-striped-color: #fff;
}
[data-layout-mode=dark] .toast {
  --vz-toast-bg: rgba(42, 47, 52, 0.85);
  --vz-toast-header-bg: rgba(42, 47, 52, 0.85);
  --vz-toast-border-color: rgba(255, 255, 255, 0.1);
  --vz-toast-header-border-color: rgba(255, 255, 255, 0.05);
}
[data-layout-mode=dark] .popover {
  --vz-popover-bg: #23282c;
}
[data-layout-mode=dark] .pagination {
  --vz-pagination-hover-bg: #2a2f34;
  --vz-pagination-focus-bg: #2a2f34;
}

[data-sidebar=gradient] {
  --vz-vertical-menu-bg-gradient: linear-gradient(to right, var(--vz-primary), var(--vz-success));
  --vz-vertical-menu-border-gradient: var(--vz-success);
  --vz-twocolumn-menu-bg-dark: var(--vz-success);
}

[data-sidebar=gradient-2] {
  --vz-vertical-menu-bg-gradient: linear-gradient(to right, var(--vz-info), var(--vz-secondary));
  --vz-vertical-menu-border-gradient: var(--vz-secondary);
  --vz-twocolumn-menu-bg-dark: var(--vz-secondary);
}

[data-sidebar=gradient-3] {
  --vz-vertical-menu-bg-gradient: linear-gradient(to right, var(--vz-info), var(--vz-success));
  --vz-vertical-menu-border-gradient: var(--vz-success);
  --vz-twocolumn-menu-bg-dark: var(--vz-success);
}

[data-sidebar=gradient-4] {
  --vz-vertical-menu-bg-gradient: linear-gradient(to right, #1a1d21, var(--vz-primary));
  --vz-vertical-menu-border-gradient: var(--vz-primary);
  --vz-twocolumn-menu-bg-dark: var(--vz-primary);
}


/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* .card {
  margin-right: 0!important;
  margin-left: 0!important;
} */


.modal {
  --vz-modal-zindex: 9999999;
}
.modal-backdrop {
  --vz-backdrop-zindex: 9999998;
}
.header-navbar .navbar-container ul.nav li.dropdown .dropdown-menu {
  z-index: 999999999999;
}
.heading-upper {
  position: absolute;
  top: -45px!important;
  right: 0!important;
}
.heading-upper .btn {
  padding: 3px 15px!important;
}
html .content.app-content {
  overflow: unset!important;
}
html .navbar-static .content {
  min-height: calc(100% - 75px)!important;
  margin-top: 10px!important;
  position: relative;
}
.app-content.content {
  margin-top: 70px;
}
.app-content.content .content-wrapper {
/*  position: absolute; */
}
html .navbar-static .app-content .content-wrapper {
  padding: 0px!important;
  height: 100%;
  height: -webkit-fill-available;
}
.content-wrapper > .content-body {
  height: 100%;
  height: -webkit-fill-available;
}
.header-navbar .navbar-container ul.nav li.dropdown-user .dropdown-menu-right {
  z-index: 999;
}
.app-content-second {
/*  border: 1px solid #dbdbdb;*/
  border-radius: 0;
  margin: 15px;
  height: 98%;
  height: -webkit-fill-available;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

.app-content.content .x-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.x-page .x-page {
  height: 100%;
}
.app-content.content .x-page > .x-page-overlay {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: relative;
  background: rgb(0 0 0 / 48%);
  position: absolute;
  z-index: 99;
  cursor:pointer;
}
.app-content.content .x-page > .x-page-overlay:hover {
  background: rgb(123 194 255 / 45%);
}
.app-content.content .x-page > .x-page-body {
  background: #f2f4f4;
  position: relative;
  z-index: 99;
  overflow: auto;
  max-height: 100%;
  min-height: 100%;
  padding: 0 20px; /* TODO */
}
.app-content.content .x-page > .x-page-body.x-page-loading {
  height: 800px;
  background: #fff;
}
.app-content.content .x-page > .x-page-body.x-page-loading:before {
  content: ' ';
  color: #816bff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  font-size: 25px;
  font-family: 'Rubik';
  background: #fff no-repeat center center;
  background-image: url(https://cdn.dribbble.com/users/503653/screenshots/3143656/fluid-loader.gif);
}
.app-content.content .x-page > .x-page-body > .content-wrapper {
  margin-top: 0;
}
.app-content.content .x-page > .x-page-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 100px;
  width: 100%;
  max-width: 95%;
  max-width: calc(100% - 100px);
}
.app-content.content .x-page > .x-page-nav > .x-page > .x-page-overlay {
  left: -100px;
}
.table-padding-less td {
  padding: 2px 0px;
}
.table-padding-less th {
  padding: 2px 0px;
}



.card-header {
  margin: 0;
  padding-bottom: 0;
}


/* Footer */
footer.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  height: 25px;
  z-index: 99;
}
footer.footer:hover {
  height: unset;
}
footer.footer > div {
  padding: 0 18px;
  padding-bottom: 10px;
  white-space: nowrap;
  font-size: 11px;
}
.footer_widget {
    height: 70px;
    position: relative;
}
.card_footer {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e0e5e5;
    padding: 5px;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.card_footer:hover {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  z-index: 99;
  min-height: 70px;
  overflow: unset!important;
  height: fit-content;
  max-height:600px;
}
.card_footer .card_details {
  display: none;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #ededed;
  padding: 5px;
  margin-top: 8px;
}
.card_footer:hover .card_details {
  display: revert!important;
}
.card_footer_show {
  position: absolute;
  bottom: 0;
  z-index: 99;
}


.hovered {
  background-color: #9dff9d!important;
}
.fell {
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 999;
  display: inline-block;
}
.fell > .currents {
  display: flex;
}
.fell > .others {
}
.fell > div > a {
  padding: 0;
  margin: 0 2px;
  display: inline-block;
}
.fell > div > a > .fell_name {
  text-transform: capitalize;
  position: relative;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  padding: 0 2px;
}
.fell > div > a > .fell_count {
  background: #fff;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    font-size: 11px;
    color: #000;
    line-height: 16px;
    border-radius: 30px;
    border: 1px solid black;
}
.fell > .currents > a {
  margin-right: 5px;
}
.fell > .currents > a > .fell_name {
  background: #2aa122;
  color: #fff;
  border: 2px solid #ffffff;
  min-width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 45px;
}
.fell > .others > a {
  margin-bottom: 2px;
}
.fell > .others > a > .fell_name {
  background: #1086ff;
  color: #fff;
  border: 2px solid #3c3c3c;
  min-width: 30px;
  height: 30px;
  line-height: 25px;
}
.actphone {
position: fixed;
    top: 90px;
    right: -610px;
    margin: 0 auto;
    background: #fff;
    width: 600px;
    min-height: 300px;
    z-index: 999;
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding-bottom:20px;
}
.actphone.visible {
  right: -5px!important;
}
.actphone_id {
    position: absolute;
    left: 12px;
    top: 5px;
    color: #c9c9c9;
}
.actphone_input {
text-align: center;
    margin: 30px 10px;
    margin-bottom: 10px;
    position: relative;
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}
.actphone_number {
border: 0;
    background: transparent;
    color: #000;
    text-align: center;
    font-size: 40px;
    padding: 0;
}
.actphone_regs {
  font-size: 14px;
  color: #767676;
  list-style: none;
  margin: 0;
  padding: 0 30px;
}
.actphone_regs li {
    background: #ddecff;
    color: #303030;
    padding: 3px 0;
    margin-bottom: 2px;
    cursor: pointer;
}
.actphone_text {
margin: 0 20px;
    text-align: center;
    padding-bottom: 8px;
}
.actphone_label {
  text-align: left;
  font-size: 12px;
}
.actphone_textarea {
width: 100%;
    padding: 5px;
}
.actphone_btns {
    padding: 5px 22px;
    text-align: center;
}
.actphone_btns > .llamar {
  background: #35bf53;
  color: #fff;
}
.actphone_btns > .cancelar {
  background: #ff5f5f;
  color: #fff;
}

.voip_callers {
  position: fixed;
    top: 10px;
    left: 50%;
    z-index: 99999999;
    width: 500px;
    margin-left: -250px;
}
.voip_call {
    border-radius: 4px;
    box-shadow: 0px 0px 8px -1px #8d8d8d;
    border: 1px solid #32ff0d;
    padding: 10px;
    background: #fff;
    position: relative;
    min-height: 70px;
    margin-bottom: 10px;
}
.voip_call i {
  font-size: 25px;
    position: absolute;
    top: 50px;
    left: 240px;
    color: #62ff2e;
}
.voip_side {
  position: absolute;
    top: 0;
    width: 250px;
    padding: 10px;
}
.voip_from {
    left: 0;
}
.voip_to {
  right: 0;
}
.voip_side input {
  font-size: 18px;
  color: #000;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.voip_side div {
  text-align: center;
}
.voip_message {
  text-align: center;
  padding: 0 10px;
  padding-top: 60px;
}
.voip_time {
  position: absolute;
  top: 50px;
  left: 235px;
  font-size: 11px;
}
.todo_block {
    width: 100%;
    min-height: 50px;
    z-index: 99;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    font-size: 12px;
}
.todo_block.comprimir {
  max-height: 15px;
  min-height: 15px;
}
.todo_block thead {
  cursor: pointer;
}
.todo_block_btn {
position: absolute;
    bottom: -20px;
    right: 5px;
    background: #fce173;
    padding: 3px;
    border-radius: 0 0 5px 5px;
    font-size: 10px;
    color: #000;
    cursor: pointer;
}
.todo_block table {
  width: 100%;
  text-align: center;
}
.todo_block thead {
  background: #bb9500;
  color: #ffffff;
  font-size:8px;
}
.todo_block tbody tr {
  background: #fff;
}
.todo_block tbody tr:hover {
  background: #ffdbc1;
}
.todo_block tbody td {
  padding: 3px 0;
}


a {
  text-decoration: none!important;
}

.table-xs th {
  font-size: 9px!important;
}

.table-xs td {
  font-size: 10px;
  padding: 0;
}


iframe {
  width: 100%;
}
.badge-light-success {
  background: #74e559;
}
.badge-light-danger {
  background: #ff4646;
}
.badge-light-warning {
  background: #ffc800;
}
